.DS_Store
__pycache__/
*.pyc
*.mp3
inputs/
dev/
output/*/result.wav
output_explore/*/result.wav
output_explore/*.log
latent_space_code_002.zip
output_hires/*/result.wav
output_hires_v1_backup/
output_frag/*/result.wav
output_hold/*/result.wav
output_hold_v1_backup/
output_fid/*/result.wav
